*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.App{
  /* max-width: 85.375rem;
  max-height: 53rem;
  margin: auto; */
}
.headphone-img-container, .login-side{
  flex-grow: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #323232;
}
.headphone-img-container{

}
.headphone-img{
  width: 100%;
  max-width:35.125rem ;
  max-height: 37.625rem;
}
.login-side{
  flex-direction: column;
  text-align: center;
}
.hit-bit-title{
  font-size: 8rem;
  font-weight: bold;
  color: #156AC4;
  margin: 0;
  padding: 0;
}
.intro-message{
  font-size: 1.5rem;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.login-btn{
  width: 21.875rem;
  height: 5.5rem;
  border-radius: 4.375rem;
  background: #156AC4;
  color: #FFFFFF;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 6rem auto;
}

.layout-container{
  color: #FFFFFF;
}
.header-container, .left-sidebar-content, .main-content, .player-container{
  position: fixed;
}

.header-container, .player-container{
  height: 10vh;
  width: 100%;
} 
.header-container{
  top: 0;
  background-color: #323030;
}
.left-sidebar-content{
  top: 10vh;
  height: 80vh;
  width: 20vw;
  left: 0;
  background-color: #000000;
} 
.left-sidebar-content, .main-content{
  overflow-x: hidden;
  overflow-y: scroll;
}
.main-content{
  top: 10vh;
  height: 80vh;
  width: 80vw;
  left: 20vw;
  background-color: #202020;
} 
.main-content::-webkit-scrollbar, .left-sidebar-content::-webkit-scrollbar {
  width: 7px;
}
.main-content::-webkit-scrollbar-track {
  background-color: #202123;
}
.left-sidebar-content::-webkit-scrollbar-track{
  background-color: #000000;
}
.main-content::-webkit-scrollbar-thumb, .left-sidebar-content::-webkit-scrollbar-thumb {
  background-color: #909091;
}
.player-container{
  bottom: 0;
  background-color: #181818;
}
