*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
.App{
  /* max-width: 85.375rem;
  max-height: 53rem;
  margin: auto; */
}
.headphone-img-container, .login-side{
  flex-grow: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #323232;
}
.headphone-img-container{

}
.headphone-img{
  width: 100%;
  max-width:35.125rem ;
  max-height: 37.625rem;
}
.login-side{
  flex-direction: column;
  text-align: center;
}
.hit-bit-title{
  font-size: 8rem;
  font-weight: bold;
  color: #156AC4;
  margin: 0;
  padding: 0;
}
.intro-message{
  font-size: 1.5rem;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.login-btn{
  width: 21.875rem;
  height: 5.5rem;
  border-radius: 4.375rem;
  background: #156AC4;
  color: #FFFFFF;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 6rem auto;
}

.layout-container{
  color: #FFFFFF;
}
.header-container, .left-sidebar-content, .main-content, .player-container{
  position: fixed;
}

.header-container, .player-container{
  height: 10vh;
  
} 
.header-container{
  top: 0;
  background-color: #323030;
  padding: 0 1.4375rem 0 1.4375rem;
  padding-right: 3rem;
  display: flex;
  justify-content:right;
  align-items:center;
  width: 80vw;
}
.search-bar{
  background-color: #FFFFFF;
  height: 1.9rem;
  width: 20rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.6rem;
}
.search-bar svg{
  fill: #000000;
}
.search-bar input{
  width: 18rem;
  height: 1.9rem;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: none;

}
.playlists-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-logout{
  width: 12.6875rem;
  height: 2.5rem;
  border-radius: 4rem;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem 0 0.7rem;
}
.header-middle-content{
  margin: auto;
}
.user-logout img{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.user-logout svg{
  fill: #FFFFFF;
  width: 1rem;
  height: 1rem;
}
.left-sidebar-content{
  height: 100vh;
  width: 17vw;
  left: 0;
  background-color: #000000;
  
} 
.left-sidebar-content, .main-content{
  overflow-x: hidden;
  overflow-y: scroll;
}
.horiz-line{
  width: 14rem;
  margin: auto;
}
.main-content{
  top: 10vh;
  height: 80vh;
  width: 80vw;
  left: 20vw;
  background-color: #202020;
} 
.main-content::-webkit-scrollbar, .left-sidebar-content::-webkit-scrollbar, .playlists-content::-webkit-scrollbar {
  width: 7px;
}
.main-content::-webkit-scrollbar-track, .playlists-content::-webkit-scrollbar-track {
  background-color: #202123;
}
.left-sidebar-content::-webkit-scrollbar-track{
  background-color: #000000;
}
.main-content::-webkit-scrollbar-thumb, .left-sidebar-content::-webkit-scrollbar-thumb, .playlists-content::-webkit-scrollbar-thumb {
  background-color: #909091;
}
.player-container{
  bottom: 0;
  background-color: #181818;
  width: 100%;
}
.main-menu{
 margin-top: 3.25rem;
 /*border-bottom: 1px solid gray;*/
 height: 30vh;
}
.logo {
  background-color: #323030;
  height: 10vh;
  width: 20vw;
  padding: 0.5rem 1rem 1rem 2rem;
}
.logo img {
  width: 80%;
}
.main-menu li{
  display: flex;
}
.main-menu svg{
  fill: #FFFFFF;
  width: 1.5rem;
  height: 1.5rem;
}

.main-menu a{
  text-decoration: none;
  color: #A4A4A4;
  font-size: 1rem;
  font-weight:500;
  margin: 0.3rem 1.4375rem 1.625rem 1.4375rem;
  display: block;
}
.main-menu li{
  margin-left: 1.5rem;
}
.left-sidebar-content{
width: 20vw;

}
.active{
  color: #FFFFFF !important;
}
.playlists{
padding-top: 1rem;

}
.playlists-title{
  font-size: 1.2rem;
  font-weight:500;
  margin-bottom: 1.3rem;
  margin-left: 1.5rem;
}
.playlists-content{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 29vh;
  margin-left: 1.5rem;
}
.playlist{
  margin-bottom: 0.8rem;
}
.playlists-menu a{
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 0.2rem;
}
.library-menu-active{
  background-color: #202020;
}
